
/* .box{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 100px;
    left: 200px;
    right: 50%;
    bottom: 50%;

} */
/* .box{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 3px solid black;
    position: absolute;
    right: 665px;
    bottom: 375px;
    z-index: 5;
}
.box-yellow{
    width: 200px;
    height: 200px;
    background-color: yellow;
    border: 3px solid black;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}
.container{
    display: flex;
    justify-content: center;
    height: 4000px;
    padding-top: 300px;
}
.green-box{
    width: 200px;
    height: 200px;
    background-color: green;
    position: sticky;
    top: 10px;
    z-index: 3;
}
.box-blue{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 3px solid black;
    position: absolute;
    bottom: 100px;
    left: 150px;
    z-index: 5;
} */

/* .img{
    width: 400px;
    height: 300px;
    position: absolute;
}

#div1{
    top: 50px;
    left: 50px;
    position: relative;
}

#div2{
    top: 100px;
    left: 100px;
    position: relative;
}

#div3{
    top: 150px;
    left: 150px;
    position: relative;
}

p{
    color:red;
    font-size: medium;
    z-index: 1;
    position: relative;
    background-color: blue;
    width: 25px;
    height: 25px;
    left: 360px;
    text-align: center;
} */

body{
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url(img/image3.jpg);
    background-size: cover;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 43px;
}

.menu{
    display: flex;
    list-style: none;
}

a{
    text-decoration: none;
}

.header a{
    font-size: 23px;
    color: #FFFFFF;
}

.menu li{
    margin-left: 34px;
}

.button{
    display: block;
    background: #9F0F0F;
    width: 351px;
    height: 45px;
    text-align: center;
    /* vertical-align: middle; */
    line-height: 45px;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.35);
    margin: 630px auto;
}

.images{
    padding-top: 120px;
    
}

.images-box{
    display: flex;
    justify-content: space-between;
}

.images-box img{
    height: 100%;
}

.text{
    padding: 120px;
    font-size: 24px;
    font-weight: 400;
}
.text p{
    text-align: center;
}

footer{
    background-color: #7B0F15;
    height: 93px;
    width: 100%;
}

footer a{
    font-size: 23px;
    color: #FFFFFF;
}

.footer-nav{
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

